@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    text-decoration:none;
    font-family:"roboto";
}

body{
    margin:0;
    padding:0;
    background-color: #d9e1e9;
}

nav{
    background-color:#a6c7e7;
    display:flex;
    align-items:center;
    height: 10vh;
}

nav div ul{
    display:flex;
    list-style-type: none;
    align-items: center;
}

nav ul li{
    margin-right:25px;
    font-size: 20px;
    color: black;
}

nav a {
    color: black;
}


.nav-left{
    flex: 50%;
}
.nav-left a:hover{
    color: rgb(35, 144, 233);
}

.nav-right{
    flex:50%;
    text-align: end;
    margin-right:45px;
}

.nav-right a{
    background-color:rgb(35, 144, 233);
    padding:8px 20px;
    color:white;
    border-radius: 10px;
}

.nav-right a:hover{
    background-color:white;
    color:rgb(35, 144, 233);
    border:1px solid;
}


section{
    display: flex;
    width: 100%;
    text-align: center;
}
.left{
    display:flex;
    flex :50%;
    flex-direction: column;
}

.left-horizontal{
    display:flex;
    flex-direction: row;
    margin: 5px auto;
}

.left-horizontal a{
    flex: 50%;
    width: 100%;
}

.left-horizontal button{
    flex: 100%;
    width: 100%;
    height: 100%;
    border-radius: 15px; 
    padding: 3px 10px 3px 10px ; 
    color: #cacaca;
    background-color: rgb(39, 39, 39);
    cursor: pointer;

}

.left-horizontal img:hover{
    cursor: pointer;
}

.left-horizontal button:hover{
    background-color:white;
    color:rgb(35, 144, 233);
    border:1px solid;
}

.left img:hover{
    cursor:pointer;
}

.right{
    display:flex;
    flex : 50%;
    flex-direction: column;
}

*{
    text-decoration:none;
    font-family:"roboto";
}

.contact-form-grup {
    width:550px;
    margin:50px auto;
    padding:10px;
}

form div{
    margin-top:15px
}

.contact-form-grup label{
    font-weight: bold;
    font-size:20px;
}

input,
select,.contact-form-button,
textarea{
    background-color: #cacaca;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cacaca;
    resize: none;
    cursor: pointer;
}