@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family:"roboto";
}

.text-blue{
    color: rgb(35, 144, 233) !important;
}

.text-red{
    color: #A61C18 !important;
}

.bg-blue{
    background-color: #173186 !important;
}

.bg-red{
    background-color: #A61C18 !important;
}

.bg-white{
    background-color: #E8E9EB !important;
}

.bg-basic{
    background-color :#d9e1e9 !important;
}
.bt-bg-blue{
    background-color: rgb(35, 144, 233) !important;
}

.bt-bg-blue:hover{
    background-color: white !important;
    color: rgb(35, 144, 233) !important;
    border-color: rgb(35, 144, 233) !important ;
}

/* nav{
    height:8vh;
} */

.container-fluid{
    height: 92vh;
}

.container-form{
    width: 80%;
    max-width: 500px;
}

.pointer {
    cursor: pointer;
}

.blur-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.blur-background img {
    width: 100%;
    height: auto;
    max-width: 100%;
    align-content: center;
    justify-content: center;
    filter: blur(1px); /* Adjust the blur intensity as needed */
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.content h1 {
    color: white;
    text-align: center;
    
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}

/* .slide{
    transition: opacity 1s ease-in-out;
}
.slide.active {
    opacity: 1;
} */

.carousel-inner{
    max-width: 400px;
}

.heightcondition{
    height: 700px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust this if needed */
  }

.sizepicture img{
    height: 450px;
}

.cool-button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 18px;
    border: none;
    width: 50%;
    border-radius: 8px;
    background-color: #A61C18;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.cool-button:hover {
    background-color: #f5f500;
    transform: scale(1.1);
    color: black;
}

.textured-box { 
    /* background: repeating-linear-gradient(45deg, #173186, #E8E9EB 5px, #A61C18 5px, #173186 10px); */
    background: linear-gradient(135deg, #173186 25%, transparent 25%) -10px 0,
                linear-gradient(225deg, #A61C18 25%, transparent 25%) -10px 0,
                linear-gradient(315deg, #173186 25%, transparent 25%),
                linear-gradient(45deg, #A61C18 25%, transparent 25%);
    background-size: 200px 400px;
    background-color: #a0a0a0 !important;
    position: relative;
    animation: wave-animation 10s linear infinite;
  }
  @keyframes wave-animation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px -400px;
    }
  }

  .logo{
    width: 10%;
}
  
  .profile-card {
    background-color: #E8E9EB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
  }
  
  .profile-card img {
    width: 70%;
    height: 70%;
    /* border-radius: 50%; */
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .profile-card h1 {
    color: #333;
    margin: 0;
  }
  
  .profile-card p {
    color: #777;
    margin: 0;
  }
  
  .contact {
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  
  .backgorundshadow{
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  }
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.3s;
  }
  
  .social-icon img {
    width: 40px;
    height: 40px;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }
  
  .wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite alternate;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.wrapper img{
    width: 100%;
}
.container2{
    max-width: 500px;
    width: auto;
    width: auto;
    /* transform: translate(-50%,-50%); */
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
}




    /* Mengubah font pada layar besar */
    @media (min-width: 992px) {
        .large-font {
            font-size: 70px;
        }
        .blur-background img{
            width: 90%;
        }
    }

    /* Mengubah font pada layar kecil */
    @media (max-width: 576px) {
        .small-font {
            font-size: 30px;
        }
        .small-fontp{
            font-size :15px;
        }
        .heightcondition{
            height: 400px;
            
        }
        .sizepicture img{
            height: 150px;
        }
        .sizepicture div h1{
            font-size: 25px;
        }
        .sizepicture div p{
            font-size: 14px;
        }
        .sizepicture div a{
            font-size: 12px;
        }
    }