
.card{
  width: auto;
  height: auto;
  max-width: 450px;
  justify-content: center;
}

.slider div{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.slider div img {
  width: 100%;
  padding: 10px;
}

.cursor-pointer{
  cursor: grab;
}



    * {
      box-sizing: border-box;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    /* .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }